<div class="container-booking">

  <div class="container-booking-show">
    <div>
      <p>Help is on the way...</p>
    </div>

    <div>
      <h2>Your booking is <strong>Now Confirmed!</strong></h2>
    </div>

<!--  -->
    <div class="joostinator">
      <img class="avatar-large " style="height: 56px" src='<%= cl_image_path(@doctor.image) %>'>
      <h4> <%= @booking.slot.doctor.name %> </h4>
    </div>

    <div>
      <h4> <%= @booking.date %> | <%= @booking.time %> </h4>
    </div>

    <br>

    <div>
      <p class="address-tabs"><i class="fas fa-map-marker-alt"></i><%= @booking.slot.doctor.address %></p>
    </div>
  </div>

  <div
  id="map"
  class="map2"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
    <div style="
    display: flex;
    justify-content: center;">
        <div class="container-booking-btn" style="margin-top: 20px; margin-bottom: 10px; padding: 0 47px;">
          <%= link_to "Schedule another appointment", doctors_path, class: "btn btn-flat" %>
        </div>
        <div class="container-booking-btn" style="margin-top: 20px; margin-bottom: 10px; padding: 0 47px;">
        <%= link_to "See all my bookings", bookings_path, class: "btn btn-flat", id: "deniz" %>
        </div>
    </div>
