<%= form_tag(doctors_path, method: :get) do %>
<div class="box">

  <div class="form-ddown-container">
    <%#= label_tag(:city, "Choose city") %>
    <%= text_field_tag :city, "", placeholder: 'Select City', class: "form-control-mod" %>
    <i class="fas fa-arrow-circle-down"></i>
  </div>

  <div class="form-ddown-container">
    <%#= label_tag(:field_id, "Choose field", class: "form-group") %>
    <%= select_tag(:field_id, options_for_select(Field.pluck(:name, :id)), prompt: 'Select Field', class: "form-control-mod") %>
       <i class="fas fa-arrow-circle-down"></i>
  </div>

  <div class="form-ddown-container">
    <%#= label_tag(:language_id, "Choose language", class: "form-group") %>
    <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id)), prompt: 'Select Language', class: "form-control-mod") %>
    <i class="fas fa-arrow-circle-down"></i>
  </div>

  <div style="text-align: center;">
  <%= submit_tag 'Submit search', class: "btn-search" %>
</div>
</div>


<% end -%>
