<nav>
  <div class="nav nav-tabs active" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="
    margin-right: 23%;">Overview</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="
    margin-right: 24%;">Review</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Location</a>
  </div>



</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade active in" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h4>Professional Statement</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo asperiores porro ipsudebitis modi dolore optio, repellendus minima tempora beatae harum fuga iste animi efugit odit enim. Iure, perspiciatis?</p>
         <h4>Language</h4>
         <% @doctor.languages.each do |language| %>
        <% if language.name == "French" %>
        <%= image_tag "Flag_of_France.svg", alt: "alttext", class: "language-img" %>
        <% elsif language.name == "English" %>
        <%= image_tag "uk-flag.png", alt: "alttext", class: "language-img" %>
        <% elsif language.name == "Spanish" %>
        <%= image_tag "Flag_of_Spain.svg", alt: "alttext", class: "language-img" %>
        <% else language.name == "Mandarin" %>
        <%= image_tag "mandarin.svg", alt: "alttext", class: "language-img" %>
      <% end %>
      <% end %>
  </div>



  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="carousel">
      <% if @doctor.reviews.length > 0 %>
        <% @doctor.reviews.each do |review|   %>
        <div class="carousel-cell">
          <% review.stars.times do |star| %>
          <i class="fas fa-star"></i>
          <% end %>
          <%= review.content  %>
        </div>
    <% end %>
    <% end %>
  </div>


</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
