<div id="week_view">
<!--   <p> <strong> Create a new booking: </strong> </p>
-->
<h3 id="alert_cal">please choose a date</h3>
<div class="form">
<div class="week-flex">
  <%= link_to '<', doctor_path(@doctor, week_number: params[:week_number].present? ? params[:week_number].to_i - 1 : Date.current.cweek - 1) , :class => "week-before"%>
  <span>Week <%= @week_number %></span>
  <%= link_to '>', doctor_path(@doctor, week_number: params[:week_number].present? ? params[:week_number].to_i + 1 : Date.current.cweek + 1), :class => "week-after" %>
</div>

  <%= simple_form_for([@doctor, @booking]) do |f| %>

  <div id="week_grid">
    <strong><div>Mon</div></strong>
    <strong><div>Tue</div></strong>
    <strong><div>Wed</div></strong>
    <strong><div>Thu</div></strong>
    <strong><div>Fri</div></strong>

    <%#= raise %>
    <% 5.times do |i| %>
      <% 8.times do |x| %>
      <%# @doctor.week_slots(@week_number).each_with_index do |s, idx| %>
        <% slot = @doctor.week_slots(@week_number).find { |s| s.weekday == (i + 1) && s.hour_position == (x + 1)} %>
        <% if slot.present? %>
          <div style="<%= "grid-column: #{slot.weekday} / #{slot.weekday + 1}; grid-row: #{slot.hour_position} / #{slot.hour_position + 1};" %>">
            <%= radio_button_tag "booking[slot_id]", slot.id %>
            <%= label_tag "booking_slot_id_#{slot.id}", slot.pretty_time, class: "btn btn-calendar btn_cal" %>
          </div>
          <% else %>
          <div style="<%= "grid-column: #{i + 1} / #{i + 2}; grid-row: #{x + 2} / #{x + 3};" %>">
            <span>-</span>
          </div>
        <% end %>



      <%# end %>


      <% end %>
    <% end %>

  </div>

  <%#= f.submit "Submit a booking", class: "btn btn-primary" %>
  <%= submit_tag 'Book appointment' , class: "btn btn-flat", style:"
    width: 100%;", id: "subcalbtn"%>

  <% end %>
</div>
</div>

<script>
  error = document.getElementById("alert_cal")

  btns = document.querySelectorAll(".btn_cal")

  btns.forEach(function(x){
    x.addEventListener("click", function(){
       btns.forEach(function(y){
        y.classList.remove("activecalbtn")
        y.classList.add("activecalbtn")
       })

    })
  })

  subbtn = document.getElementById("subcalbtn")

  subbtn.addEventListener("click", function(event){
    event.preventDefault()
    btns.forEach(function(z){
      if(z.classList.contains("activecalbtn")){
        document.getElementById("new_booking").submit()
      }else{
        error.style.display = "block";
      }
    })
  })

</script>
