<div class="container" >

  <div class="search_filter">

    <%= form_tag(doctors_path, method: :get) do %>
    <div class="filter-tag">
      <%= label_tag(:city, "Choose city") %>
      <%= text_field_tag :city, "", placeholder: 'Select City', class: "form-control" %>
    </div>

    <div class="filter-tag">
      <%= label_tag(:field_id, "Choose field", class: "form-group") %>
      <%= select_tag(:field_id, options_for_select(Field.pluck(:name, :id),{prompt: 'Select Field'}), class: "form-control") %>
    </div>

    <div class="filter-tag">
      <%= label_tag(:language_id, "Choose language", class: "form-group") %>
      <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id)), class: "form-control") %>
    </div>

    <div class="filter-tag">
      <%= submit_tag 'submit' %>
    </div>

    <% end -%>

</div>


<!--   <form class="grouped_dropdown" action="/doctors" method="get">

    <div class="form-group">
      <label for="exampleSelectCity">City</label>
      <input class="form-control" type="text" name="city" id="city" required class="form-group">
    </div>

    <div class="form-group">
      <label for="exampleSelectField">Field</label>
      <select class="form-control" id="exampleSelectField"  name="field">
        <option value= ''>Select Field</option>
        <option value="Andrology">Andrology</option>
        <option value="Gynaecology">Gynaecology</option>
        <option value="General">General</option>
        <option value="Dermatology">Dermatology</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleSelectGroupLanguage">Language</label>
      <select class="form-control" id="exampleSelectLanguage" name="language">
        <option value="">Select Language</option>
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="Mandarin">Mandarin</option>
        <option value="French">French</option>
      </select>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">help is on the way</button>
    </div>

  </form>
 -->

  <div class="main-container" style="padding-top: 10px">

    <div class="cards">

      <div class="cards-container">

        <div class="row">

          <% @doctors.each do |doctor| %>
          <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right: 20px">

            <div class="notification">

              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
              <%#= cl_image_tag(fan_group.photo)%>
              <div class="notification-content">
                <h2><%= link_to doctor.name, doctor_path(doctor) %> </h2>
                <h3> <%= doctor.field.name %> </h3>
                <p> review.stars <%#= doctor.review.stars %> </p>
                <p> <%= doctor.language.name %> </p>
                <h5> <%= doctor.address %> </h3>
                </div>
              </div>
            </div>

            <% end %>

          </div>

        </div>

      </div>


      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

  </div>

</div>


