<div class style="    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 20px;" >

    <%= form_tag(doctors_path, method: :get, class: "search-filter form-inline") do %>
    <div class="filter-tag">
      <%#= label_tag(:city, "Choose city") %>
      <%= text_field_tag :city, "", placeholder: 'Select City', class: "form-control" %>
    </div>

    <div class="filter-tag">
      <%#= label_tag(:field_id, "Choose field", class: "form-group") %>
      <%= select_tag(:field_id, options_for_select(Field.pluck(:name, :id)), prompt: 'Select Field', class: "form-control") %>
    </div>

    <div class="filter-tag">
      <%#= label_tag(:language_id, "Choose language", class: "form-group") %>
      <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id)), prompt: 'Select Language', class: "form-control") %>
    </div>

    <div class="filter-tag">
      <%= submit_tag 'submit', class: "form-control btn-search2" %>
    </div>

    <% end -%>

</div>


<% if @doctors == [] %>
  <div class="search-filter" >
    <h1>Sorry...Please Try Again</h1>
  </div>
<% else %>


<div class="main-container" style="padding-top: 10px">

  <div class="cards">

    <div class="cards-container">

      <div class="row">

        <% @doctors.each do |doctor| %>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-right: 20px">

          <div class="notification">

            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
            <%#= cl_image_tag(fan_group.photo)%>
            <div class="notification-content">
              <h3><%= link_to doctor.name, doctor_path(doctor) %> </h2>
                <h4> <%= doctor.field.name %> </h3>
                  <p> TO DO review.stars <%#= doctor.review.stars %> </p>

                  <% doctor.languages.each do |language| %>
                  <p> <%= language.name %> </p>
                  <% end %>
                  <h5> <%= doctor.address %> </h3>
                  </div>
                </div>
              </div>

              <% end %>

            </div>

          </div>

        </div>


        <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      </div>

    </div>

    <% end %>


