
<div class="banner-show">

<!-- NEED TO MAKE THE BACKGROUND IMAGE FLEXIBLE, CFR CODE USED IN INDEX PAGE -->

  <div class="flexbox-top">
    <div class="flex-top-left">
      <%= image_tag "logo.png", alt: "alttext" %>
    </div>
    <div class="flex-top-right">
      <div class="top">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="down">
        <h5><%= @doctor.field.name %></h5>
      <h1><%= @doctor.name %></h1>
      </div>
      </div>
  </div>
</div>


 <div class="flexbox">
  <div class="flex-left">
    <div class="doctor-show-1 doctor-show">
      <%= render "tabs" %>
    </div>
<!--
    <div class="doctor-show-2 doctor-show">
      <a href="#">Overview</a>
      <a href="#">Reviews</a>
    </div> -->

<!--     <div class="doctor-show-3 doctor-show">



    <%= render "tabs" %>

    </div> -->

  </div>

  <div class="flex-right">

  <div class="booking doctor-show ">
    <%= render 'week_view' %>
  </div>



  </div>
 </div>





